*{
    margin: 0%;
    padding: 0%;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;   
}
body {
    font-family: Arial, sans-serif;
    background-color: #AEAFAA;
    margin: 0;
    padding: 0;
   
}
/* -------------------- barra lateral---------------------- */
body .sidebar {
    width: 280px;
    height: 590px;
    background-color: #2A292E; 
    float: left;
    margin: 0px 0px;/*(margen externo) arriba-der-abajo-izq */
    padding: 0px 0px;/*(margen interno) arriba-der-abajo-izq */
}
.sidebar .logo img{
    margin: 0px 0px 0px 0px;/*(margen externo) arriba-der-abajo-izq */
    padding: 10px 0px 20px 60px;/*(margen interno) arriba-der-abajo-izq */
    width: auto;/*ancho*/
    height: 150px;/*alto*/
}
.sidebar .panel{
    margin: 0px 0px 0px 0px;/*(margen externo) arriba-der-abajo-izq */
    padding: 0px 0px 0px 0px;/*(margen interno) arriba-der-abajo-izq */
    list-style: none;
    width: 0px; 
    border-radius: 0px;
}
nav ul a{
    color: #ffffff;
    text-decoration:none
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin: 20px;
}
.panel nav ul button{
  
    
        background-color: #2c688182;
        cursor: pointer;
        padding: 0px 0px 0px 0px ;
        margin: 0px 0px 4px 0px;
        border: none;
        width: 280px;
        height: 50px;
        transition: all 0.5s ease 0s;
}
.panel nav ul button:hover{
    
    background: #2C6781;
    transform: scale(0.9);
}
/* -------------------- header ---------------------- */
.header{
    width: 880px;
    height: 50px;
    float: right;
    margin: 0px 0px 0px 0px;/*(margen externo) arriba-der-abajo-izq */
    padding: 10px 0px 20px 60px;/*(margen interno) arriba-der-abajo-izq */

}
.header .inicio{
    background-color: #F3F2F2;
    width: 100px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
.header .user-opcion{
    list-style: none;
    float: right;
    margin: -50px 0px 0px 0px;/*(margen externo) arriba-der-abajo-izq */
    padding: 0px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */
    justify-content: center;
    display: flex
    
}
.cerrar{
    margin: 17px 10px 0px 10px;/*(margen externo) arriba-der-abajo-izq */
    padding: 0px 0px 0px 0px;/*(margen interno) arriba-der-abajo-izq */
    background-color: #2A292E;
    width: 80px;
    height: 30px;
    transition: background-color 0.3s ease;

}
.cerrar:hover {
    background-color: #F74343; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}


.header .user-opcion img{
    margin: 0px 0px 0px 0px;/*(margen externo) arriba-der-abajo-izq */
    padding: 10px 0px 20px 10px;/*(margen interno) arriba-der-abajo-izq */
    width: auto;/*ancho*/
    height: 40px;/*alto*/
    
}
/* -------------------- estructura inicio---------------------- */

/* -------------------- estructura reservar---------------------- */
.header .ini-reservar{
    background-color: #F3F2F2;
    width: 230px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
/* -------------------- estructura clientes---------------------- */
.header .ini-clientes{
    background-color: #F3F2F2;
    width: 330px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
/* -------------------- estructura pedidos---------------------- */
.header .ini-pedidos{
    background-color: #F3F2F2;
    width: 330px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
/* -------------------- estructura servicios---------------------- */
.header .ini-servicios{
    background-color: #F3F2F2;
    width: 330px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
/* -------------------- estructura pagos---------------------- */
.header .ini-pagos{
    background-color: #F3F2F2;
    width: 330px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
/* -------------------- estructura personal---------------------- */
.header .ini-personal{
    background-color: #F3F2F2;
    width: 330px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
/* -------------------- estructura opciones---------------------- */
.header .ini-opciones{
    background-color: #F3F2F2;
    width: 330px;
    height: 35px;
    border-radius: 10px; 
    margin: 10px 0px 0px -20px;/*(margen externo) arriba-der-abajo-izq */
    padding: 5px 5px 0px 10px;/*(margen interno) arriba-der-abajo-izq */

}
