body {
    font-family: Arial, sans-serif;
    background-image: url(GALERIA/FOTOS/HERRAMIENTAS\ CCC.jpg);
    background-size: 1250px 800px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700PX;
}

.login-container {
    background-color: #ffffff26;
    border-radius: 60px;
    box-shadow: 10PX 10PX 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 300px;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #F74343; /*borde de los botones*/
    border-radius: 5px;
}

button {
    background-color: #F74343;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
